//- [Pug 문법] extends를 통해 html 레이아웃을 base.pug 코드로부터 상속받음
//- [Pug 문법] block을 통해 base.pug 레이아웃 기반으로 html 내용 재구성

extends base.pug

block content 
  //- [ Pug 라이브러리 문법 ] POST 요청으로 사용자 입력값을 전송할 때 form(method='POST') 형식 내에 action 속성을 명시하지 않을 경우, 같은 URL 주소로 POST 요청을 보내려는 것을 브라우저는 알고 있음
  //- join.pug 의 form(method='POST') 이하 코드 부문 일부 재활용
  //- 본 코드 부문에서는 password 변경 작업에 대한 코드는 없음. password 보유 사용자(wetube ID/PW 가입), 미보유 사용자가 있기에 별도로 페이지를 만들어 처리

  //- submit 클릭시 데이터를 똑같은 url에 보내고 싶기 때문에 form(action="") 속성 설정 안하고, method를 POST로 설정함
  //- form(method="GET") 요청은 구글과 같은 검색엔진에서 활용
  //- form(method="POST") 요청은 웹사이트 로그인 / DB에 들어있는 값을 바꾸는 data를 보내거나 file을 보낼 때 사용

  form(method='POST')
    //- [ Pug 라이브러리 문법 ] 본 코드 페이지에서는 계정을 새로 생성하는 것이 아니라 기존 계정의 정보를 수정하는 것이므로 사용자의 현재 프로필을 form 형식에서 브라우저에 보여주어야 하므로 input(value= ) 속성으로 사용자 정보 값을 읽어와야 함
    //- [ 코드 연게성 ] userController.js의 postLogin 함수에서 socialOnly: false (즉, wetube ID/PW 방식 가입) 회원의 userDbResult 를 req.session.userDbResult = userDbResult; 형태로 1차 전달함
    //- [ 코드 연게성 ] 그것을 middleware.js 의 localsMiddleware 함수에서 res.locals.loggedInUserDb = req.session.userDbResult; 형태로 값을 2차 전달함
    //- [ 코드 연게성 ] 그것을 별도의 전용 문법 없이 locals 활용해(즉, locals는 본 프로젝트에서 설정한대로 자동적으로 src/views 경로로 import 되므로) Pug 단에서 loggedInUserDb 내의 값(즉, 기존에 저장되어 있는 입력값)을 input 태그의 value 속성에 불러와서 사용자에게 보여줌

    //- [ 리마인드 - servers.js 에서 express 호환 view engine 으로서의 pug 운용 환경설정 ] express 호환 템플리트가 있는 디렉토리
    //- [ 리마인드 - servers.js 에서 express 호환 view engine 으로서의 pug 운용 환경설정 ] package.json 파일이 있는 폴더 위치가 pug 템플릿 동작시 인식하는 cwd 기준점
    //- [ 리마인드 - servers.js 에서 express 호환 view engine 으로서의 pug 운용 환경설정 ] 따라서 초기 기본값으로 지정된 ./views 경로를 src/views 경로로 변경 (s자 빠진 view로 폴더명 생성시 오류발생함)

    input(value=loggedInUserDb.name, name='name', type='text', placeholder='Name', required)
    input(value=loggedInUserDb.email, name='email', type='email', placeholder='Email', required)
    input(value=loggedInUserDb.username, name='username', type='text', placeholder='Username', required)
    input(value=loggedInUserDb.location, name='location', type='text', placeholder='Location', required)

    input(type='submit', value='Update Profile')