//- #10.2 Styles Part Two 깃헙강의코드북붙했으니재확인요
div.social-login
  a(href="/users/github/start").social__btn.social__btn--github
    i.fab.fa-github
    //- [ Pug 문법 ] HTML 옆에 text 넣고 싶을 때 개행 후 | 기호 입력해야 함
    |  Continue with Github &rarr; 