//- [Pug 문법] extends를 통해 html 레이아웃을 base.pug 코드로부터 상속받음
//- [Pug 문법] block을 통해 base.pug 레이아웃 기반으로 html 내용 재구성

//- [ Pug 라이브러리 문법 ] Error: ENOENT: no such file or directory, open 'D:\중략\wetube\src\views\users\base.pug'
//- [ Pug 라이브러리 문법 ] views 폴더 이하에 pug 파일이 너무 많아져서 폴더로 카테고리화 하기 위해 views 폴더 이하에 users 폴더를 만들고 그 안에 change-password.pug 를 생성함 
//- [ Pug 라이브러리 문법 ] 따라서 pug 파일 내에서 extends 기능 정상 동작을 위해 extends base.pug 코드를 extends ../base.pug 로 수정해야 함(즉, pug 템플릿을 폴더에 넣었다면 파일 시스템을 따라야 함)
extends ../base.pug

block content
  //- [ Pug 라이브러리 문법 ] Error: Failed to lookup view "ABC" in views directory
  //- [ Pug 라이브러리 문법 ] 오류 해석: userController.js 의 getChangePassword 함수 내의 return res.render('ABC', { pageTitle: 'Change Password'}) 코드에서 시킨대로 views 폴더(즉, Pug 엔진 프론트엔드 상호작용 고유경로) 이하에서 ABC.pug 를 찾지못했다(아직 안 만들었으니까)
  //- [ Pug 라이브러리 문법 ] views 폴더 이하에 pug 파일이 너무 많아져서 폴더로 카테고리화 하기 위해 views 폴더 이하에 users 폴더를 만들고 그 안에 change-password.pug 를 생성함

  if errorMessage
    span=errorMessage

  form(method='POST')
    //- [ pug 라이브러리 문법 ] input(name='ABC') 속성을 명시하지 않으면 백엔드에서 호출명이 특정되어 있지 않기에 인식 불가하므로 필히 name 속성 명시요
    input(placeholder='Old Password', type='password', name='oldPassword', required)
    input(placeholder='New Password', type='password', name='newPassword', required)
    input(placeholder='New Password Confirmation', type='password', name='newPasswordConfirmation', required)
    input(type='submit', value='Change Password')


